 


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #4E47FF;
}
  
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
}

.title-primary{
    font-size: 30px;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.logo{
    font-size: 25px;
    font-weight: 900;
}


nav ul li{
    list-style: none;
}


.banner{
    text-align: center;
    padding: 30px, 80px;
    font-size: 40px;
    padding-bottom: 70px;
}

.banner h3{
    margin-bottom: 10px;

}
header{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
}


/* action styles */

.action-section{
    margin: 50px 100px;
    display: flex;
    justify-content:  space-between;
}

.action-section img{
    border-radius: 50px;
}


/* prod section */
.prod-section{
    margin: 50px 100px;
    padding: 20px;  
    text-align: center;
    background-color: azure;
    border-radius: 10px;
    
}


.prod-div{
    display: flex;
    justify-content: space-around;

}


.prod-div h1{
    font-size: 65px;
    margin-bottom: 10px;
}

/* user section */

.users-section{
    margin: 50px 100px;
}
.users-section h3{
    text-align: center;
}
.users-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.users-div{
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}
.review-box{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.review-box img{
    border-radius: 50%;
}
.review-info{
    display:flex ;
    flex-direction: column;
}
/* .lets-get-section */
.lets-get-section{
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.lets-get-section h3{
    font-size: 70px;
}
form{
    width:50% ;
}

form input{
    width: 100%;
    margin: 10px 0;
    height: 30px;
}

textarea{
    width: 100%;
    margin: 10px 0;
}

 form button{
    width: 100%;

 }